/* REGRAS DE CORES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
:root {
    --body: #191a1a;
    --cor-texto: #707070;
    /* menu */
    --cor-menu: #fafafa;
    --cor-menu2: #000000;
    --cor-borda-menu: #00aeae;
    --cor-background-menu: #00aeae;
    --borda-menu2: #00aeae;
    /*  */
    /* footer */
    --cor-titulo-footer: #00aeae;
    --cor-texto-footer: #fcfcfc;
    --creditos: #131313;
    --border-color-footer: #162b2d;
    /*  */
    --azul: #00aeae;
    --preto: #191a1a;
}

.azul {
    color: var(--azul);
}


/*  */