.time-fundo {
    position: absolute;
    top: 105px;
    padding: 10px;
    background: var(--azul);
    left: 0;
    margin-bottom: 35vh;
    right: 0;
    height: 387vh;
    overflow: hidden;
}

.time-fundo h6 {
    padding-top: 142px;
    text-align: center;
    font-size: 82px;
    color: var(--preto);
    padding-bottom: 105px;
}

.time-fundo img {
    width: 50%;
    height: 50%;
}

.time-fundo span {
    color: var(--preto);
    font-family: 'Satisfy', cursive;
    font-size: 55px;
    font-weight: bold;
    max-width: 94vh;
    line-height: 7vh;
    padding: 25px;
}


/* separador */

.separa {
    background: var(--azul);
    height: 67px;
    width: 100%;
    right: 0px;
}

.quebra-texto {
    background: var(--preto);
    height: 78vh;
    width: 42%;
    right: 0px;
}

.posit {
    margin-top: -2vh;
    position: absolute;
}

.posit1 {
    margin-top: 64vh;
    position: absolute;
}

.posit2 {
    margin-top: 139vh;
    position: absolute;
}

.posit3 {
    margin-top: 209vh;
    position: absolute;
}

.posit4 {
    margin-top: 277vh;
    position: absolute;
}

.posit5 {
    margin-top: 343vh;
    position: absolute;
}


/*  */


/* Posicoes titulos pessoais */

.titulo-nome {
    font-family: 'Satisfy', cursive;
}

.nome-titulo {
    top: 8vh;
    position: absolute;
    left: -66vh;
    font-size: 138px;
    background: var(--preto);
}

.sub-titulo {
    padding: 26px;
    top: 21vh;
    position: absolute;
    left: -51vh;
    font-size: 165px;
    background: var(--branco);
    color: var(--preto);
}

.cargo-pos {
    top: 40vh;
    position: absolute;
    left: -41vh;
}


/* RICARDO */

.posicao-Ricardo {
    top: -1vh;
    position: absolute;
    left: -2vh;
}


/*  */


/* MARCOS */

.posicao-Marcos {
    top: 10vh;
    position: absolute;
    left: -7vh;
}


/*  */


/* ERICK */

.posicao-Erick {
    top: 9vh;
    position: absolute;
    left: 4vh;
}


/* GABRIEL BATATA */

.posicao-Gabriel {
    top: 9vh;
    position: absolute;
    left: 4vh;
}


/* GABRIEL NAUAN */

.posicao-Nauan {
    top: 9vh;
    position: absolute;
    left: 4vh;
}


/*  */

.ricardo {
    background-size: 100%;
    padding: 300px;
    margin-top: 3vh;
    right: 0;
    position: absolute;
}

.marcos {
    background: url(https://1.bp.blogspot.com/-h0xeHX3TE2Y/YFA3vMUST2I/AAAAAAAAG7A/uQwLsY1ddHITgGIYsb24wcASl8Z-w870ACLcBGAsYHQ/s0/Marcos.png) no-repeat;
    background-size: 89%;
    padding: 345px;
    margin-top: 67vh;
    right: -107px;
    position: absolute;
}

.erick {
    background: url(https://1.bp.blogspot.com/-3nJA7mn6EEE/YFAflYQ5A3I/AAAAAAAAG6g/uacxEsyUnxMk2BpdxO82VGazR2DToGP0QCLcBGAsYHQ/s0/Erick.png) no-repeat;
    background-size: 50%;
    padding: 674px;
    margin-top: 140vh;
    right: -77vh;
    position: absolute;
}

.gabriel-batata {
    background: url(https://1.bp.blogspot.com/-8iguvvYF9to/YFAfxLHCelI/AAAAAAAAG6s/tPAu7_zTXXMCI40-V2l2edIGg29pTVjXwCLcBGAsYHQ/s0/Gabriel%2BBatata.png) no-repeat;
    background-size: 50%;
    padding: 528px;
    margin-top: 216vh;
    right: -57vh;
    position: absolute;
}

.nauan {
    background: url(https://1.bp.blogspot.com/-H3DhuUH7F60/YFAf2BtsL_I/AAAAAAAAG6w/-ly4SbXUveAwweDwES7iwu1P6EePAFzjACLcBGAsYHQ/s0/Nauan.png) no-repeat;
    background-size: 50%;
    padding: 637px;
    margin-top: 284vh;
    right: -69vh;
    position: absolute;
}


/* BACKUP DA PÁGINA ANTIGA */

.ricardo {
    background: url(https://1.bp.blogspot.com/-B-EHuCqqLLM/YFAfd21BqwI/AAAAAAAAG6c/0evFewMdv68FBrH6KOv7LSlrX6nu36xGQCLcBGAsYHQ/s0/Ricardo.png) no-repeat;
    background-size: 42%;
    padding: 300px;
}

.marcos {
    background: url(https://1.bp.blogspot.com/-h0xeHX3TE2Y/YFA3vMUST2I/AAAAAAAAG7A/uQwLsY1ddHITgGIYsb24wcASl8Z-w870ACLcBGAsYHQ/s0/Marcos.png) no-repeat;
    background-size: 48%;
    padding: 300px;
    margin-top: 0vh;
}

.erick {
    background: url(https://1.bp.blogspot.com/-3nJA7mn6EEE/YFAflYQ5A3I/AAAAAAAAG6g/uacxEsyUnxMk2BpdxO82VGazR2DToGP0QCLcBGAsYHQ/s0/Erick.png) no-repeat;
    background-size: 52%;
    padding: 300px;
    margin-top: -2vh;
}

.gabriel-batata {
    background: url(https://1.bp.blogspot.com/-8iguvvYF9to/YFAfxLHCelI/AAAAAAAAG6s/tPAu7_zTXXMCI40-V2l2edIGg29pTVjXwCLcBGAsYHQ/s0/Gabriel%2BBatata.png) no-repeat;
    background-size: 42%;
    padding: 300px;
    margin-top: 0vh;
}

.nauan {
    background: url(https://1.bp.blogspot.com/-H3DhuUH7F60/YFAf2BtsL_I/AAAAAAAAG6w/-ly4SbXUveAwweDwES7iwu1P6EePAFzjACLcBGAsYHQ/s0/Nauan.png) no-repeat;
    background-size: 38%;
    padding: 250px;
    margin-top: -10vh;
}


/*  */