@media screen and (max-width:991px) {
    .info-left,
    .info-right,
    .mouse-scroll {
        display: none
    }
    .section-steps,
    .section.form {
        background-position: 0 0;
        background-size: auto;
        background-repeat: repeat
    }
    h1 {
        font-size: 80px;
        line-height: 100px
    }
    h2 {
        font-size: 60px;
        line-height: 80px
    }
    h3 {
        font-size: 50px;
        line-height: 70px
    }
    h4 {
        font-size: 70px;
        line-height: 66px
    }
    h5 {
        font-size: 36px;
        line-height: 56px
    }
    h6 {
        font-size: 30px;
        line-height: 50px
    }
    .alpha,
    .alpha.w--current {
        position: fixed;
        top: 40px
    }
    .container-banner,
    .main-content.style-content {
        padding-top: 150px;
        padding-bottom: 50px
    }
    .link.gray {
        margin-right: 0
    }
    .banner-content-half {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center
    }
    .main-links {
        top: 587px;
        left: 20px;
    }
    nav .menuItems li {
        font-weight: 500;
        padding: 5px;
        text-decoration: none;
        color: #ffffff;
        font-size: 17px;
        transition: all 0.2s ease-in-out;
        position: relative;
        cursor: pointer;
        margin: 14px 4px 10px -10px;
    }
    nav .menuItems {
        position: absolute;
        right: -40px;
        list-style: none;
        display: inline-block;
        top: -6px;
    }
    .link {
        padding: 6px;
        margin-right: 28px;
        font-size: 26px;
        font-weight: 400;
    }
    .container-banner {
        margin-right: 4vw;
        margin-left: 4vw;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .content-half.c-footer {
        min-height: 260px;
        margin-top: 60px
    }
    .step {
        margin-right: 0
    }
    .main-content.style-guide-main-content {
        margin-right: auto;
        margin-left: auto;
        padding-top: 60px;
        padding-bottom: 40px
    }
    .container-big,
    .container-small-grid {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .content-holder {
        margin-bottom: 60px
    }
    .headline-7 {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 40px
    }
    .footer-logo,
    .plus-margin-bottom,
    .yellow-separator {
        margin-bottom: 40px
    }
    .section-steps {
        background-image: none;
        background-attachment: scroll
    }
    .section.cta {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #000), to(transparent));
        background-image: linear-gradient(90deg, #000 25%, transparent);
        background-position: 0 0
    }
    .section.form {
        background-image: none
    }
    .container-big {
        margin-right: 4vw;
        margin-left: 4vw;
        text-align: center
    }
    .logos-grid,
    .yellow-separator {
        margin-right: auto;
        margin-left: auto
    }
    ._3d-content-wrapper-top {
        left: 0;
        top: 0;
        right: 0;
        bottom: auto
    }
    .center-width {
        width: 90%
    }
    .logos-grid {
        width: 90%;
        margin-top: 50px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 164px 164px 164px 164px 164px 164px 164px 164px;
        grid-template-rows: 164px 164px 164px 164px 164px 164px 164px 164px
    }
    .content-grid,
    .content-left-right {
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto
    }
    .content-width {
        width: 100%
    }
    .content-left-right {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        text-align: center
    }
    .footer-logo.w--current {
        margin-bottom: 30px
    }
    .headline-8 {
        max-width: 100%;
        margin-bottom: 20px
    }
    .footer-title {
        margin-bottom: 10px
    }
    .bottom,
    .top {
        padding-left: 0
    }
    .container-footer {
        margin-right: 4vw;
        margin-left: 4vw;
        padding-top: 80px;
        padding-bottom: 80px;
        text-align: left
    }
    .menu-block {
        -webkit-transform-origin: 4vw 50px;
        -ms-transform-origin: 4vw 50px;
        transform-origin: 4vw 50px
    }
    .menu-contact {
        display: none
    }
    .menu-wrap {
        margin-right: 10vw;
        margin-left: 10vw
    }
    .awards-grid,
    .slider {
        margin-right: auto;
        margin-left: auto
    }
    .headline-top-text {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 35px
    }
    .content-grid {
        grid-auto-columns: auto;
        grid-row-gap: 40px;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%
    }
    .content-left {
        width: 100%;
        margin-top: 0;
        text-align: center
    }
    .awards-grid {
        width: 90%;
        margin-top: 50px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 164px 164px 164px;
        grid-template-rows: 164px 164px 164px
    }
    .accordion-tab-button {
        padding-right: 25px;
        padding-left: 25px
    }
    .container-faq {
        margin-right: 4vw;
        margin-left: 4vw;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center
    }
    .form-content {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-top: 0;
        padding-right: 60px;
        padding-bottom: 0;
        text-align: center
    }
    .form-container {
        padding-top: 100px;
        padding-bottom: 100px
    }
    .form-block {
        margin-top: 60px
    }
    .text-field {
        padding: 30px
    }
    .utility-page-form {
        width: 100%
    }
    .licencing-holder {
        margin-bottom: 60px
    }
    .section-2 {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #000), to(transparent)), url(https://uploads-ssl.webflow.com/5df8a318143ebc0bdb0bfba6/5e15a3849ba5cb749e43b22b_Untitled-1.png);
        background-image: linear-gradient(90deg, #000 25%, transparent), url(https://uploads-ssl.webflow.com/5df8a318143ebc0bdb0bfba6/5e15a3849ba5cb749e43b22b_Untitled-1.png);
        background-position: 0 0, 100.5% 50%;
        background-size: auto, contain;
        background-repeat: repeat, no-repeat;
        background-attachment: scroll, scroll
    }
}

@media screen and (max-width:767px) {
    h1 {
        font-size: 65px;
        line-height: 85px
    }
    h2 {
        font-size: 56px;
        line-height: 76px
    }
    .container-small {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .container-banner {
        margin-right: auto;
        margin-left: auto
    }
    .content-half.c-footer {
        margin-top: 40px
    }
    .step {
        margin-bottom: 60px
    }
    .sticky-heading,
    .yellow-text-block {
        margin-bottom: 40px
    }
    .main-content.style-content {
        padding-bottom: 40px
    }
    .main-content.style-guide-main-content {
        padding-top: 40px
    }
    .container-big,
    .container-faq,
    .container-small-grid {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .sticky-heading {
        position: static
    }
    ._3d-card {
        height: 300px
    }
    ._3d-card.smaller {
        width: 100%;
        height: 300px;
        margin-right: 0
    }
    ._3d-card.smaller.no-margin-left {
        margin-left: 0
    }
    .container-small-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto
    }
    .logos-grid {
        -ms-grid-rows: 130px 130px 130px 130px 130px 130px 130px 130px;
        grid-template-rows: 130px 130px 130px 130px 130px 130px 130px 130px
    }
    .footer-nav-link.last {
        margin-right: 0
    }
    .heading-menu {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 60px
    }
    .menu-wrap {
        overflow: auto
    }
    .logo {
        height: 23px
    }
    .headline-top-text {
        font-size: 20px;
        line-height: 30px
    }
    .left-arrow {
        left: 26%
    }
    .right-arrow {
        right: 26%
    }
    .form-content {
        padding-right: 0;
        padding-left: 0
    }
    .div-block {
        padding-right: 20px;
        padding-left: 20px
    }
    .color-wrapper,
    .link-wrapper {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto
    }
    .licencing-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }
    .licencing-left {
        width: 100%;
        margin-bottom: 40px
    }
    .licencing-right {
        width: 100%
    }
}

@media screen and (max-width:479px) {
    .awards-grid,
    .logos-grid {
        grid-column-gap: 30px
    }
    .center-width,
    .list-block {
        width: 100%
    }
    .bottom,
    .bottom-links,
    .list-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    h1 {
        font-size: 50px;
        line-height: 70px
    }
    h2 {
        font-size: 46px;
        line-height: 66px
    }
    h3 {
        font-size: 42px;
        line-height: 61px
    }
    h4 {
        font-size: 46px;
        line-height: 56px
    }
    h5 {
        font-size: 28px;
        line-height: 48px
    }
    h6 {
        font-size: 24px;
        line-height: 44px
    }
    .content-half.c-footer {
        min-height: 490px
    }
    ._3d-content {
        margin: 30px 10px
    }
    .headline-8 {
        font-size: 20px;
        line-height: 40px
    }
    .bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .footer-nav-link {
        margin-right: 0
    }
    .bottom-links {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .menu-block,
    .menu-wrap {
        z-index: 9999
    }
    .logo {
        height: 18px
    }
    .left-arrow {
        left: 13%
    }
    .right-arrow {
        right: 13%
    }
    .color-wrapper,
    .link-wrapper {
        justify-items: stretch;
        grid-auto-columns: auto
    }
    .list-wrapper {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media screen and (max-width:991px) {
    #w-node-2015dcdcb8e0-cf843fc4,
    #w-node-2015dcdcb8e0-ef843fc1,
    #w-node-4c2bae2ac980-ef843fc1 {
        -ms-grid-column-align: center;
        justify-self: center
    }
}