@media screen and (max-width:420px) {
    /*
    /*
    /* TELA DE TIME */
    /* EQUIPE */
    .erick {
        background-size: 37%;
        padding: 685px;
        margin-top: 140vh;
        right: -130vh;
    }
    .posicao-Erick {
        top: 7vh;
        left: 1vh;
    }
    /*  */
    .ricardo {
        background-size: 75%;
        padding: 262px;
        margin-top: 3vh;
        right: -124px;
    }
    .marcos {
        background-size: 61%;
        padding: 345px;
        margin-top: 67vh;
        right: -330px;
    }
    /*  */
    .gabriel-batata {
        background-size: 37%;
        padding: 527px;
        margin-top: 218vh;
        right: -95vh;
    }
    .posicao-Gabriel {
        top: -3vh;
        left: -7vh;
    }
    /*  */
    .nauan {
        background-size: 35%;
        padding: 639px;
        margin-top: 288vh;
        right: -118vh;
    }
    .posicao-Nauan {
        top: -7vh;
        left: 0vh;
    }
    /*  */
    /*  */
    .time-fundo h6 {
        line-height: 7vh;
        padding-top: 45px;
        font-size: 49px;
        padding-bottom: 37px;
    }
    .time-fundo img {
        width: 50%;
        height: 50%;
    }
    .time-fundo span {
        font-family: 'Heebo';
        margin-top: -13vh;
        color: var(--azul);
        font-size: 20px;
        font-weight: bold;
        max-width: 95vh;
        line-height: 3vh;
        left: 0vh;
        padding: 25px;
        background: var(--preto);
    }
    .nome-titulo {
        display: none;
    }
    .sub-titulo {
        padding: 10px;
        top: 51vh;
        position: absolute;
        left: 0vh;
        font-size: 53px;
        background: var(--branco);
        color: var(--preto);
    }
}


/*  */


/*  */


/*  */

@media screen and (max-width:375px) {
    /*
    /*
    /* TELA DE TIME */
    /* EQUIPE */
    .erick {
        background-size: 34%;
        padding: 685px;
        margin-top: 140vh;
        right: -156vh;
    }
    .posicao-Erick {
        top: 7vh;
        left: 1vh;
    }
    /*  */
    .ricardo {
        background-size: 75%;
        padding: 262px;
        margin-top: 3vh;
        right: -142px;
    }
    .posicao-Ricardo {
        top: -1vh;
        left: -4vh;
    }
    /*  */
    .marcos {
        background-size: 52%;
        padding: 345px;
        margin-top: 69vh;
        right: -376px;
    }
    .posicao-Marcos {
        top: 7vh;
        left: -8vh;
    }
    /*  */
    .gabriel-batata {
        background-size: 37%;
        padding: 527px;
        margin-top: 218vh;
        right: -115vh;
    }
    .posicao-Gabriel {
        top: -3vh;
        left: -7vh;
    }
    /*  */
    .nauan {
        background-size: 31%;
        padding: 639px;
        margin-top: 288vh;
        right: -143vh;
    }
    .posicao-Nauan {
        top: -7vh;
        left: 0vh;
    }
    /*  */
    /*  */
    .time-fundo h6 {
        line-height: 7vh;
        padding-top: 30px;
        font-size: 43px;
        padding-bottom: 28px;
    }
    .time-fundo img {
        width: 50%;
        height: 50%;
    }
    .time-fundo span {
        font-family: 'Heebo';
        margin-top: -14vh;
        color: var(--azul);
        font-size: 20px;
        font-weight: bold;
        max-width: 95vh;
        line-height: 3vh;
        left: 0vh;
        padding: 25px;
        background: var(--preto);
    }
    .nome-titulo {
        display: none;
    }
    .sub-titulo {
        padding: 10px;
        top: 51vh;
        position: absolute;
        left: 0vh;
        font-size: 53px;
        background: var(--branco);
        color: var(--preto);
    }
}


/*  */


/*  */


/*  */